.modal-container {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 560px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    transform: translate(-50%, -50%);
    background-color: #FFD500;
    border-radius: 40px;
    z-index: 90;
}

.modal-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: inherit;
    font-size: 34px;
}

.modal-item {
    display: flex;
    justify-content: start;
}

.modal-item-content {
    display: flex;
}

.modal-item-title {
    margin-right: 15px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.modal-item-description {
    display: flex;
    flex-direction: column;
}

.title-close-btn {
    display: flex;
    justify-content: flex-end;
}

.title-close-btn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}
