{
    "extends": [
        "react-app",
        "react-app/jest"
    ],
    "env": {
        "shared-node-browser": true
    },
    "rules": {
        "no-console": "warn",
        "quotes": [
            "error",
            "double"
        ],
        "jsx-quotes": [
            "error",
            "prefer-double"
        ],
        "no-unused-vars": "error",
        "prefer-const": "error",
        "indent": [
            "warn",
            4
        ],
        "max-len": [
            "error",
            {
                "code": 200
            }
        ],
        "semi": [
            "warn",
            "always"
        ]
    }
}